.sidebar {
  float: right;
  font-size: 30px;
  padding: 10px;
  border: 1px solid;
  margin: 10px;
  background-color: grey;

}

.twoThird {
  width: 76%;
  margin-top: 15px;
  margin-bottom: 15px;
}

img {
  float: left;
  padding: 10px;
}

li {
  list-style-type: none;
}
